body {
    margin:0;
    background:#010201;
    color:white;
    font-family:Arial, sans-serif;
    overflow-x:hidden;
}


.navbar {
    height:80px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 60px;
    background:#020402dd;
    border-bottom:1px solid #20ff5544;
    backdrop-filter:blur(10px);
}


.logo {
    font-size:24px;
    font-weight:bold;
    letter-spacing:3px;
    color:#d5ffd5;
    text-shadow:0 0 15px #20ff55;
}


.nav-links a {
    color:#7fa88a;
    text-decoration:none;
    margin-left:30px;
    transition:.3s;
}


.nav-links a:hover {
    color:white;
    text-shadow:0 0 15px #20ff55;
}


.hero {
    min-height:calc(100vh - 80px);
    position:relative;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
    overflow:hidden;
    padding-top:60px;
}


.hero::before {
    content:"";
    position:absolute;
    width:800px;
    height:800px;
    border-radius:50%;
    border:2px solid #20ff5533;
    background:
    linear-gradient(#20ff5512 1px,transparent 1px),
    linear-gradient(90deg,#20ff5512 1px,transparent 1px);
    background-size:40px 40px;
    box-shadow:
    0 0 80px #20ff5522,
    inset 0 0 80px #20ff5522;
    top:100px;
}


.hero::after {
    content:"";
    position:absolute;
    width:500px;
    height:500px;
    border-radius:50%;
    background:conic-gradient(
        transparent,
        #20ff5544,
        transparent
    );
    animation:scan 5s linear infinite;
    top:250px;
}


.hero-content {
    z-index:5;
    text-align:center;
}


.hero-content h1 {
    font-size:65px;
    letter-spacing:8px;
    color:#e0ffe5;
    text-shadow:
    0 0 10px #20ff55,
    0 0 40px #20ff55;
}


.hero-content p {
    color:#69ff91;
    letter-spacing:5px;
    font-family:"Courier New",monospace;
}


.accident-box {
    position:relative;
    z-index:6;
    width:900px;
    max-width:80%;
    margin-top:40px;
    padding:30px;
    background:#020702cc;
    border:1px solid #20ff5566;
    box-shadow:
    0 0 40px #20ff5533,
    inset 0 0 30px #20ff5511;
    backdrop-filter:blur(8px);
}


.accident-box h2 {
    color:#39ff14;
    letter-spacing:4px;
    text-shadow:0 0 15px #39ff14;
}


.accident-box p {
    color:#b7ffc4;
    line-height:1.8;
    font-size:17px;
}


.accident-item {
    margin-top:20px;
    padding:20px;
    background:#030903;
    border-left:3px solid #39ff14;
    transition:.3s;
}


.accident-item:hover {
    transform:translateX(10px);
    box-shadow:0 0 20px #20ff5533;
}


.warning {
    color:#39ff14;
    font-family:"Courier New",monospace;
    animation:blink 1.5s infinite;
}


@keyframes scan {

from {
    transform:rotate(0deg);
}

to {
    transform:rotate(360deg);
}

}


@keyframes blink {

50% {
    opacity:.4;
}

}