body {
    margin:0;
    background:#020604;
    color:white;
    font-family:Arial, sans-serif;
}

.navbar {
    height:80px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 60px;
    background:#030907;
    border-bottom:1px solid #20ff5544;
}

.logo {
    font-size:24px;
    font-weight:bold;
    letter-spacing:3px;
    color:#d5ffd5;
    text-shadow:0 0 10px #20ff55;
}

.nav-links a {
    color:#8dbb98;
    text-decoration:none;
    margin-left:30px;
    transition:.3s;
}

.nav-links a:hover {
    color:white;
    text-shadow:0 0 10px #20ff55;
}

.title {
    text-align:center;
    margin-top:60px;
    font-size:55px;
    letter-spacing:8px;
    color:#d9ffdf;
    text-shadow:
    0 0 10px #20ff55,
    0 0 30px #20ff55;
    animation:fadeIn 1s ease;
}

.page-description {
    text-align:center;
    color:#8affaa;
    margin-top:-20px;
    font-size:18px;
    font-family:"Courier New",monospace;
}


.accident-box {
    width:55%;
    margin:50px 0 50px 80px;
    padding:35px;
    background:#030b05;
    border:1px solid #20ff5555;
    border-radius:10px;
    box-shadow:
    0 0 25px #20ff5522,
    inset 0 0 30px #20ff5511;
    animation:fadeIn 1s ease;
}


.accident-grid {
    display:grid;
    grid-template-columns:1fr;
    gap:18px;
}


.accident-item {
    padding:20px;
    background:#050d07;
    border-left:3px solid #39ff14;
    color:#b8ffc5;
    cursor:pointer;
    transition:.3s;
}


.accident-item:hover {
    color:#39ff14;
    transform:translateX(15px);
    text-shadow:0 0 10px #39ff14;
}


.accident-item h2 {
    color:#39ff14;
    letter-spacing:2px;
    margin:0 0 10px 0;
}


.accident-item p {
    color:#b8ffc5;
    line-height:1.7;
}


#info-panel {
    position:fixed;
    top:100px;
    right:-500px;
    width:420px;
    height:520px;
    background:#030b05;
    border-left:2px solid #39ff14;
    padding:30px;
    overflow-y:auto;
    transition:.5s;
    box-shadow:-10px 0 40px #20ff5533;
}


#info-panel.show {
    right:0;
}


#close-btn {
    position:absolute;
    top:15px;
    right:20px;
    background:none;
    border:none;
    color:white;
    font-size:25px;
    cursor:pointer;
}


#close-btn:hover {
    color:#39ff14;
    text-shadow:0 0 10px #39ff14;
}


#info-title {
    color:#39ff14;
    font-size:32px;
    letter-spacing:2px;
    text-shadow:
    0 0 10px #39ff14,
    0 0 20px #39ff14;
}


#info-text {
    color:#b8ffc5;
    line-height:1.7;
    font-size:16px;
}


#info-text b {
    color:white;
    text-shadow:0 0 5px #39ff14;
}


@keyframes fadeIn {

from {
    opacity:0;
    transform:translateY(30px);
}

to {
    opacity:1;
    transform:translateY(0);
}

}