body {
    margin:0;
    background:#020604;
    color:white;
    font-family:Arial,sans-serif;
    overflow-y:auto;
}


.navbar {
    height:80px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 60px;
    background:#030907;
    border-bottom:1px solid #20ff5544;
}


.logo {
    font-size:24px;
    font-weight:bold;
    color:#20ff55;
}


.nav-links {
    display:flex;
    gap:35px;
}


.nav-links a {
    color:white;
    text-decoration:none;
    font-size:16px;
    transition:0.3s;
}


.nav-links a:hover {
    color:#20ff55;
}


.title {
    text-align:center;
    font-size:55px;
    margin-top:60px;
    color:#20ff55;
    letter-spacing:3px;
}


.page-description {
    text-align:center;
    color:#bbbbbb;
    font-size:18px;
    margin-top:15px;
}



.admin-container {
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
    padding:50px 60px;
}



.admin-box {
    background:#06100b;
    border:1px solid #20ff5544;
    border-radius:10px;
    padding:25px;
    min-height:420px;
    transition:0.3s;
    box-shadow:0 0 10px #000;
}


.admin-box:hover {
    transform:translateY(-8px);
    border-color:#20ff55;
    box-shadow:0 0 25px #20ff5544;
}



.region-title {
    color:#20ff55;
    font-size:18px;
    font-weight:bold;
    margin-bottom:20px;
    letter-spacing:2px;
}



.logo-area {
    height:100px;
    width:100px;
    border:1px solid #20ff5544;
    border-radius:50%;
    margin:0 auto 20px auto;
}



.admin-name {
    text-align:center;
    font-size:32px;
    font-weight:bold;
    margin-bottom:20px;
    color:white;
}



.admin-text {
    color:#cccccc;
    line-height:1.6;
    font-size:15px;
}



.info-line {
    margin-top:25px;
    color:#20ff55;
    font-size:14px;
    font-weight:bold;
}



@media(max-width:1200px){

.admin-container {
    grid-template-columns:repeat(2,1fr);
}

}



@media(max-width:700px){

.navbar {
    padding:0 20px;
}


.nav-links {
    gap:15px;
}


.title {
    font-size:40px;
}


.admin-container {
    grid-template-columns:1fr;
    padding:30px;
}

}