body {
    margin:0;
    background:#020604;
    color:white;
    font-family:Arial,sans-serif;
    overflow-y:auto;
}


.navbar {
    height:80px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 60px;
    background:#030907;
    border-bottom:1px solid #20ff5544;
}


.logo {
    font-size:24px;
    font-weight:bold;
    letter-spacing:3px;
    color:#d5ffd5;
    text-shadow:0 0 10px #20ff55;
}


.nav-links a {
    color:#8dbb98;
    text-decoration:none;
    margin-left:30px;
    transition:.3s;
}


.nav-links a:hover {
    color:white;
    text-shadow:0 0 10px #20ff55;
}


.title {
    text-align:center;
    margin-top:60px;
    font-size:55px;
    letter-spacing:8px;
    color:#d9ffdf;
    text-shadow:
    0 0 10px #20ff55,
    0 0 30px #20ff55;
    animation:fadeIn 1s ease;
}


.page-description {
    text-align:center;
    color:#8affaa;
    margin-top:-20px;
    font-size:18px;
    font-family:"Courier New",monospace;
}


.admin-container {

    width:85%;

    margin:60px auto;

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:35px;

    padding-bottom:80px;

}


.admin-box {

    min-height:450px;

    background:#030b05;

    border:1px solid #20ff5555;

    border-radius:10px;

    padding:30px;

    box-shadow:
    0 0 25px #20ff5522,
    inset 0 0 30px #20ff5511;

    animation:fadeIn 1s ease;

    transition:.3s;

}


.admin-box:hover {

    transform:translateY(-10px);

    box-shadow:
    0 0 40px #20ff5544,
    inset 0 0 30px #20ff5522;

}



.region-title {

    color:#39ff14;

    font-size:20px;

    letter-spacing:3px;

    text-shadow:0 0 10px #39ff14;

    margin-bottom:20px;

}



.logo-area {

    height:150px;

    display:flex;

    align-items:center;

    justify-content:center;

    margin-bottom:20px;

}



.logo-area img {

    max-width:130px;

    max-height:130px;

    filter:drop-shadow(0 0 10px #20ff55);

}



.admin-name {

    color:#d9ffdf;

    font-size:34px;

    letter-spacing:3px;

    margin-bottom:20px;

}



.admin-text {

    color:#b8ffc5;

    line-height:1.7;

    font-size:16px;

}



.info-line {

    margin-top:25px;

    padding:15px;

    background:#050d07;

    border-left:3px solid #39ff14;

    color:#8affaa;

    font-family:"Courier New",monospace;

}



@media(max-width:1000px){

    .admin-container {

        grid-template-columns:1fr;

    }

}
    

@keyframes fadeIn {

from {

    opacity:0;

    transform:translateY(30px);

}

to {

    opacity:1;

    transform:translateY(0);

}

}