.hero{
    height:calc(100vh - 80px);
    position:relative;
    overflow:hidden;
    display:flex;
    align-items:center;
    justify-content:center;
}


.hero-plane{
    position:absolute;
    width:100%;
    height:100%;
    object-fit:cover;
    opacity:0.25;
    z-index:1;
}


.hero-content{
    z-index:5;
    text-align:center;
}


.hero-content h1{
    font-size:60px;
    letter-spacing:5px;
    color:#d9ffdf;
    text-shadow:
    0 0 10px #20ff55,
    0 0 30px #20ff55;
}


.radar{
    position:absolute;
    width:450px;
    height:450px;
    border-radius:50%;
    border:2px solid rgba(0,255,100,0.5);
    background:
    radial-gradient(circle, transparent 0 20%, rgba(0,255,100,0.08) 21%, transparent 22%),
    radial-gradient(circle, transparent 0 40%, rgba(0,255,100,0.08) 41%, transparent 42%),
    radial-gradient(circle, transparent 0 60%, rgba(0,255,100,0.08) 61%, transparent 62%);
    box-shadow:
    0 0 40px rgba(0,255,100,0.5),
    inset 0 0 40px rgba(0,255,100,0.2);
    z-index:3;
}


.radar:before,
.radar:after{
    content:"";
    position:absolute;
    background:rgba(0,255,100,0.3);
}


.radar:before{
    width:100%;
    height:1px;
    top:50%;
}


.radar:after{
    height:100%;
    width:1px;
    left:50%;
}


.sweep{
    position:absolute;
    width:50%;
    height:2px;
    background:#00ff66;
    top:50%;
    left:50%;
    transform-origin:left;
    animation:scan 3s linear infinite;
    box-shadow:0 0 15px #00ff66;
}


@keyframes scan{

from{
    transform:rotate(0deg);
}

to{
    transform:rotate(360deg);
}

}


.blip{
    position:absolute;
    width:10px;
    height:10px;
    background:#00ff66;
    border-radius:50%;
    box-shadow:0 0 15px #00ff66;
}


.b1{
    top:25%;
    left:65%;
}


.b2{
    top:70%;
    left:35%;
}


.b3{
    top:40%;
    left:20%;
}