body {
    margin:0;
    background:#020604;
    color:white;
    font-family:Arial,sans-serif;
    overflow-x:hidden;
    overflow-y:auto;
}


.navbar {
    height:80px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 60px;
    background:#030907;
    border-bottom:1px solid #20ff5544;
}


.logo {
    font-size:24px;
    font-weight:bold;
    letter-spacing:3px;
    color:#d5ffd5;
    text-shadow:0 0 10px #20ff55;
}


.nav-links a {
    color:#8dbb98;
    text-decoration:none;
    margin-left:30px;
    transition:.3s;
}


.nav-links a:hover {
    color:white;
    text-shadow:0 0 10px #20ff55;
}


.hero {
    height:calc(100vh - 80px);
    position:relative;
    display:flex;
    align-items:center;
    justify-content:center;
    overflow:hidden;
}


.hero-content {
    z-index:5;
    text-align:center;
}


.hero-content h1 {
    font-size:70px;
    letter-spacing:8px;
    color:#d9ffdf;
    text-shadow:
    0 0 10px #20ff55,
    0 0 40px #20ff55;
}


.hero-content p {
    color:#8affaa;
    letter-spacing:4px;
    font-family:"Courier New",monospace;
    font-size:18px;
}



.radar {
    position:absolute;
    width:800px;
    height:800px;
    border-radius:50%;
    border:2px solid rgba(0,255,100,.5);

    background:
    radial-gradient(circle,transparent 0 20%,rgba(0,255,100,.08) 21%,transparent 22%),
    radial-gradient(circle,transparent 0 40%,rgba(0,255,100,.08) 41%,transparent 42%),
    radial-gradient(circle,transparent 0 60%,rgba(0,255,100,.08) 61%,transparent 62%);

    box-shadow:
    0 0 80px rgba(0,255,100,.5),
    inset 0 0 80px rgba(0,255,100,.2);

    z-index:2;
}


.radar:before,
.radar:after {
    content:"";
    position:absolute;
    background:rgba(0,255,100,.3);
}


.radar:before {
    width:100%;
    height:1px;
    top:50%;
}


.radar:after {
    height:100%;
    width:1px;
    left:50%;
}



.sweep {
    position:absolute;
    width:50%;
    height:3px;
    background:#00ff66;
    top:50%;
    left:50%;
    transform-origin:left center;
    animation:scan 3s linear infinite;
    box-shadow:0 0 20px #00ff66;
}



.blip {
    position:absolute;
    width:12px;
    height:12px;
    background:#39ff14;
    border-radius:50%;
    box-shadow:0 0 20px #39ff14;
    animation:blipPulse 2s infinite;
}


.b1 {
    top:25%;
    left:65%;
}


.b2 {
    top:70%;
    left:35%;
}


.b3 {
    top:40%;
    left:20%;
}



.status-panel {

    position:absolute;

    left:40px;
    top:180px;

    width:280px;

    padding:25px;

    background:#030907cc;

    border:1px solid #20ff5544;

    box-shadow:
    0 0 30px #20ff5522,
    inset 0 0 20px #20ff5511;

    backdrop-filter:blur(8px);

    z-index:6;

}


.status-panel h2 {

    color:#39ff14;

    letter-spacing:3px;

    font-size:22px;

    text-shadow:
    0 0 10px #39ff14;

}


.status-item {

    margin:18px 0;

    color:#b8ffc5;

    font-family:"Courier New",monospace;

    letter-spacing:1px;

}


.dot {

    display:inline-block;

    width:10px;

    height:10px;

    border-radius:50%;

    margin-right:10px;

}


.online {

    background:#39ff14;

    box-shadow:
    0 0 15px #39ff14;

}


.warning {

    background:red;

    box-shadow:
    0 0 20px red;

    animation:warningPulse .7s infinite;

}